.libroUnico {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgb(229, 233, 231);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  overflow: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  /* transform: rotate(90deg) translate(-150%, 230%); */
  
}

.libroUnico img {
  /* max-width: 100%; */
  /* height: auto; */
  border-radius: 10px;
  width: 150px;
  height: 200px;
  border: 3px #212121 ;
  
}




h1{
  color: #f4f2f2;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2{
  font-family: 'Anton', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Roboto Mono', monospace;
}


.centrado{
text-align: center;
}

.subtitulo{
text-align: justify;
text-align: center;
}


p{
  text-align: justify;
}
img{
  width: 100%;
  border-radius: 20px;
}

.nav{
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
margin-top: 20%;

}

.title{
padding-right: 10px;
}
.nav button{
margin: 5px;
}
.nav input{
border-radius: 10px;
background-color: #f4f2f2;
border: none;
color: #646464;
padding: 0.7rem 1rem;
border-radius: 30px;
width: 12em;
}


button {
position: relative;
padding: 10px 20px;
border-radius: 20px;
border: 1px solid rgb(61, 106, 255);
font-size: 14px;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 2px;
background: transparent;
color: #fff;
overflow: hidden;
box-shadow: 0 0 0 0 transparent;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

button:hover {
background: rgb(61, 106, 255);
box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

button:hover::before {
-webkit-animation: sh02 0.5s 0s linear;
-moz-animation: sh02 0.5s 0s linear;
animation: sh02 0.5s 0s linear;
}

button::before {
content: '';
display: block;
width: 0px;
height: 86%;
position: absolute;
top: 7%;
left: 0%;
opacity: 0;
background: #fff;
box-shadow: 0 0 50px 30px #fff;
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
transform: skewX(-20deg);
}

@keyframes sh02 {
from {
  opacity: 0;
  left: 0%;
}

50% {
  opacity: 1;
}

to {
  opacity: 0;
  left: 100%;
}
}

button:active {
box-shadow: 0 0 0 0 transparent;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: box-shadow 0.2s ease-in;
}

.libro{
  padding: 10px;
  width: 30%;
  border-radius: 20px;
  align-content: center;
  background-color: whitesmoke;
  cursor: default;
  transition: all 400ms ease;
  cursor: pointer;
}

.libro:hover{
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
transform: translateY(-3%);
}

.libro img{
border-radius: 10px 10px 0 0;
height: 300px;
width: 100%;
}


.libro .p{
line-height: 1.5;
color: #6a6a6a;
}

.libro h2{
font-size: medium;
align-items: center;
justify-content: center;
}
.libro{
margin-bottom: 15px;
justify-content: center;
}

#contenidoGerenal{
padding-top: 50px;
  padding-left: 250px;
  padding-right: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body{
font-family: Arial, Helvetica, sans-serif;
background-color: black;
} 
